@import "_base/*"
@import "_index/*"
@import "_post/*"
@import "_archive/*"
@import "_about/*"
@import "_category/*"
@import "_tag/*"
@import "_links/*"

@font-face {
    font-family: 'shangshou';
    src: url('https://storge.matija.xyz/font/ShangShouFangTangTi-2.ttf') format('truetype');
}

::selection {
    background: #ff577f; 
    color:#555;
}

::-moz-selection {
    background:#ff577f; 
    color:#555;
}

::-webkit-selection {
    background:#ff577f; 
    color:#555;
}